form {
    max-width: 495px;
}

.jumbotron {
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #c2c2c2;
}

.navbar-brand {
    font-weight: 900;
}
