<header class="navbar">
  <div class="container">
    <span class="navbar-brand">モチベーション測定器</span>

    <!--
    <ul class="navbar-nav">
      <li class="nav-item">
	<a class="nav-link" herf="" target="_blank">
	  <i class="fas fa-twitter-square"></i>
	</a>
      </li>
    </ul>
    -->
  </div>
</header>

<section class="jumbotron">
  <div class="container">
    <form *ngIf="!result">
      <p>
	モチベーションの測定を開始します。各問の判断基準は全て<strong>あなた自身の過去の経験と比較して</strong>どのくらいかという相対的な視点でお答えください。<br>
      </p>
      <p>さて、まずはモチベーションを高めて達成したい目標をイメージして、次の質問に答えてください。</p>
    </form>

    <!-- form when no result -->
    <form class="pt-3" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <!-- Expectacy -->
      <div class="form-group row">
	<label class="col-sm-2 col-form-label" for="expectacy">確度</label>
	<div class="col-sm-10">
	  <input type="range" class="form-control-range" id="expectacy" name="expectacy" area-describedby="expectacy-help" ngModel required>
	  <small class="form-text text-muted" id="expectacy-help">この目標が達成できる確率はどのくらいだと思いますか？自信がないほど左に、自信があるほど右にスライドさせてください。</small>
	</div>
      </div>

      <!-- Value -->
      <div class="form-group row">
	<label class="col-sm-2 col-form-label" for="value">魅力</label>
	<div class="col-sm-10">
	  <input type="range" class="form-control-range" id="value" name="value" area-describedby="value-help" ngModel required>
	  <small class="form-text text-muted" id="value-help">この目標を達成することには自分の中でどのくらい価値がありますか？価値が小さいほど左に、価値が大きいほど右にスライドさせてください。</small>
	</div>
      </div>

      <!-- Impulsivity -->
      <div class="form-group row">
	<label class="col-sm-2 col-form-label" for="impulsivity">継続</label>
	<div class="col-sm-10">
	  <input type="range" class="form-control-range" id="impulsivity" name="impulsivity" area-describedby="impulsivity-help" ngModel required>
	  <small class="form-text text-muted" id="impulsivity-help">この目標を達成したいと思い始めてからどのくらいの日数が経ちましたか？日数が経っていないほど左に、日数が経っているほど右にスライドさせてください。</small>
	</div>
      </div>

      <!-- Delay -->
      <div class="form-group row">
	<label class="col-sm-2 col-form-label" for="delay">余裕</label>
	<div class="col-sm-10">
	  <input type="range" class="form-control-range" id="delay" name="delay" area-describedby="delay-help" ngModel required>
	  <small class="form-text text-muted" id="delay-help">目標を達成するまでの日数にどのくらいの余裕がありますか？余裕がないほど左に、余裕があるほど右にスライドさせてください。</small>
	</div>
      </div>

      <div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-10">
	  <div *ngIf="!result">
	    <button class="btn btn-primary mt-2" type="submit" [disabled]="f.invalid||processing">
	      <span *ngIf="!processing">測定する</span>
	      <span *ngIf=" processing">測定中..</span>
	    </button>
	  </div>
	</div>
      </div>
    </form>

    <!-- result -->

    <form *ngIf=" result" class="card">
      <div class="card-body">
	あなたのモチベーションは...<br>
	※100が標準<br>
	<div class="text-center pt-4 pb-4">
	  <span style="font-size:3.0em;font-weight:bold">{{result*100 | number: '.0-1'}}</span><br>
	</div>
	<div class="text-right">
	  です。<br>
	  <br>
	</div>

	<div class="text-right pt-3">
	  <button class="btn btn-primary" type="button" (click)="reset()">
	    再測定する
	  </button>
	</div>
      </div>
    </form>

    <form *ngIf=" result" class="pt-4">
      <h4>モチベーションを高めるヒント</h4>
      <ul>
	<li>確度が低い場合、確度を高めるとモチベーションを高めることができます。どうしたら目標を達成できるか？自信が持てるように、まずはイメージを沸かせるところから始めてみましょう。</li>
	<li>魅力が低い場合、魅力を高めるとモチベーションを高めることができます。目標を達成すると自分にとってどんなメリットがあるか？、まずはイメージを沸かせるところから始めてみましょう。</li>
	<li>継続が低い場合、継続し続けるとモチベーションを高めることができます。衝動的な感情にはモチベーションが伴わないことが多々あります。最初は我慢との戦いです。楽しもうと意識するなどしてまずは少しずつでもいいのでコツコツ継続してみましょう。</li>
	<li>余裕が多い場合、多少焦らせるとモチベーションを高めることができます。人間は余裕があると怠けてしまう癖があります。締め切りを短めに設定するなどしてうまく自分を追い込んでみましょう。</li>
      </ul>
    </form>
  </div>
</section>
